/* BASIC STYLES HERE */

body {
  background-color: #123456;
}

.newNoteIcon {
  /* font-size: 2rem; */
}

.blueBG {
  background-color: #123456;
}

.card {
  border-radius: 2rem;
}

/* Folder styles */

.folder {
  /* width: fit-content; */
  margin: 1rem;
  border-radius: 2rem;
  border: 3px solid black;
}

.folderIcon {
  font-size: 20rem;
  z-index: 0;
  line-height: 14rem;
  position: relative;
  top: 1rem;
  color: whitesmoke;
}

.folderName {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  top: -6.9rem;
}

/* ListAllNotes */

.noteList {
  font-size: 2rem;
}

.folderColorIcon {
  color: #123456b0;
}

/* Primary Note Card */

.notecard {
  width: fit-content;
  margin: 1rem;
  padding-bottom: 3.5rem;
  border-radius: 2rem;
}

.noteIcon {
  font-size: 20rem;
  z-index: 0;
  line-height: 14rem;
  position: relative;
  top: 1rem;
  color: grey;
}

.noteName {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  top: 1rem;
}

.backdrop {
  background-color: #123456b0;
  width: fit-content;
  color: white;
  border-radius: 0.5rem;
  padding: 5px;
}

#z0 {
  position: absolute;
  z-index: 0;
}

#z1 {
  z-index: 1;
  position: relative;
  top: 5rem;
  width: fit-content;
}

#z2 {
  z-index: 2;
  position: relative;
  top: 7rem;
}

/* FORM CSS */
.folderColorPicker {
  height: 2rem;
}